/*
Freshness Template
http://www.templatemo.com/preview/templatemo_422_freshness
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

body {
	padding-top: 50px;
	overflow-x :hidden;
}

.blue {
	color: #3CF;
}

.green {
	color: #CF6;
}

a {
	color: #FF6;
}

a:hover {
	color: #0F0;
}
/*#9da7c1  #212121*/
.navbar {
	background:#293E6A;
	width: 100%;
	height: 100px;
	display: inline-block;
}

.navbar-nav {
	margin-top: 26px;
}

.navbar-default .navbar-brand:hover {
	text-decoration: none;
	color: #b2afaf;/*#e54a45*/
}
.projectlogo{
	height:100px;
	width:400px;
	padding-top:-30px;
	/*margin-top:-20px;*/

}
.toggle-menu {
	float: right;
	margin-right: 15px;
	border: none;
	outline: 0;
	background: #b2afaf;  /*#e54a45*/
	color: #b2afaf;  /*#fff*/ 
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-align: center;
}
/******************************/

.htxt{ 	width: 420px;
	line-height: 46px;
	text-align: center;
	
}
.btn {
  background: #58a9d1;
  background-image: -webkit-linear-gradient(top, #58a9d1, #1b5375);
  background-image: -moz-linear-gradient(top, #58a9d1, #1b5375);
  background-image: -ms-linear-gradient(top, #58a9d1, #1b5375);
  background-image: -o-linear-gradient(top, #58a9d1, #1b5375);
  background-image: linear-gradient(to bottom, #58a9d1, #1b5375);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  font-family: Georgia;
  color: #f0e4f0;
  font-size: 20px;
  padding: 2px 19px 8px 16px;
  text-decoration: none;
  margin-left:162px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #1f587d);
  background-image: -moz-linear-gradient(top, #3cb0fd, #1f587d);
  background-image: -ms-linear-gradient(top, #3cb0fd, #1f587d);
  background-image: -o-linear-gradient(top, #3cb0fd, #1f587d);
  background-image: linear-gradient(to bottom, #3cb0fd, #1f587d);
  text-decoration: none;
}
.btn:AFTER{
	border:none;
}
.navbar-default .navbar-brand {
	color: #b2afaf; /*#e54a45*/
	font-family: 'Open Sans';
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
}

.navbar-default .navbar-brand em {
	color: #b2afaf;  /*#fff;*/
	font-style: normal;
	font-weight: 400;
}

.navbar-default .navbar-nav>li>a {
/*	margin-top: 24px;	*/
	font-family: 'Open Sans';
	text-transform: uppercase;
	font-size: 14px;
	color: #b2afaf;  /*#fff;*/
	margin-left: 45px;
}

.navbar-default .navbar-nav>.active>a {
	background: transparent !important;
	color: #b2afaf; /*#fff;*/
	box-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #b2afaf; !important;
		/*#e54a45 */
}

.navbar-default {
	border-color: transparent;
}

.navbar-header {
	margin-top: 4px;
}

.cta {
	border-top: 6px solid #e54a45;
	border-bottom: 6px solid #e54a45;
	margin-top: 50px;
	background-color: #eee;
}

.cta h3 {
	padding-top: 30px;
	font-family: 'Open Sans';
	font-size: 32px;
	font-weight: 700;
	color: #333;
	text-align: center;
	text-transform: uppercase;
}

.cta span {
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 400;
	color: #e54a45;
	text-align: center;
	text-transform: uppercase;
	display: block;
	padding-bottom: 15px;
}

.main-content {
	background-image: url(../img/main-background.png);
	background-color: #fff;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
}

.first-section h2 {
	margin-top: 45px;
	font-family: 'Open Sans';
	font-size: 32px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.first-section span {
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	display: block;
	text-transform: uppercase;
}

.first-section p {
	
	text-align: center;
	display: block;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	margin-top: 25px;
	line-height: 20px;
}

.first-icon {
	margin-top: 60px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.first-section h4 {
	margin-top: 380px;
	text-align: center;
	margin-right: 100px;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: 300;
	line-height: 10px;
	color: #fff;
	text-transform: uppercase;
}

.first-section em {
	font-style: normal;
	font-family: 'Open Sans';
	font-size: 28px;
	font-weight: 700;
	color: #ffa7a5;
	text-transform: uppercase;
}

.second-icon {
	display: block;
	margin-left: 40px;
	margin-top: 80px;
}

.go-pro-btn {
	background-image: url(../img/btn-bg.png);
	margin-top: 140px;
	width: 255px;
	height: 288px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 320px;
	display: block;
}

.go-pro-btn a {
	font-family: 'Open Sans';
	color: #fff;
	font-size: 30px;
	font-weight: 600;
}

.go-pro-btn a:hover {
	text-decoration: none;
}

.first-discription h6 {
	font-family: 'Open Sans';
	font-size: 22px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.first-discription p {
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	margin-top: 20px;
	line-height: 20px;
}

.big-icon {
	text-align: center;
}

.second-discription h6 {
	font-family: 'Open Sans';
	font-size: 22px;
	margin-top: 80px;
	margin-left: 40px;
	color: #fff;
	text-transform: uppercase;
}

.second-discription p {
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: 400;
	margin-left: 40px;
	color: #fff;
	margin-top: 20px;
	line-height: 20px;
}

.small-icons ul {
	padding: 0;
	margin: 200px 0 0 100px;
	list-style: none;
	padding-bottom: 60px;
}

.small-icons ul li {
	margin: 30px 30px 0 30px;
	display: inline-block;
}

.icon-hover:hover img {
	-webkit-transform: scale(1.55);
	-moz-transform: scale(1.55);
	-o-transform: scale(1.55);
	transform: scale(1.55);
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all easeout 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
    cursor: pointer;
}
.icon-hover img {
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;	
}

.icon-hover h4 {
	font-family: 'Open Sans';
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	margin-top: 30px;
	display: block;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.icon-hover:hover h4 {
	visibility: visible;
	opacity: 1;
}

.contact-form h1 {
	margin-top: 50px;
    display: block;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #222;
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom: 30px;
}

.contact-form label {
    display: block;
    margin: 0px 0px 5px;
}
.contact-form label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea, .elegant-aero select {
    color: #aaa;
    width: 260px;
    height: 35px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    background: #fff;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}

.contact-form textarea {
	min-width: 370px;
    min-height: 180px;
    max-width: 370px;
    max-height: 180px;
}

.contact-form textarea{
    height:180px;
    padding: 5px 0px 0px 5px;
    width: 370px;
}
.contact-form .button {
    padding: 10px 30px 10px 30px;
    background: #e54a45;
    outline: 0;
    font-size: 16px;
    font-family: 'Open Sans';
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    display: block;
}
.contact-form .button:hover {
    background: #b93c38;
}

.map {
	width: 100%;
}

footer {
	margin-top: -5px;
	position: relative;
  	background: #293E6A; /*#e54a45;*/
  	color: #FFF;
  	text-transform: uppercase;
  	padding-bottom: 30px;
}

footer p {
  	font-family: 'Open Sans';
  	font-size: 13px;
  	font-weight: 300;
  	margin: 0;
  	padding: 0;
  	display: block;
  	margin-top: 40px;
}

footer a {
  	color: #fff;
}

footer a:hover {
	color: #FF6;
}


footer .social {
  	text-align: right;
  	padding: 0;
  	margin: 0;
  	list-style: none;
}
footer .social li {
	margin-top: 30px;
  	display: inline-block;
  	margin-left: 20px;
  	color: #fff;
}
footer .social li a {
	background-color: #b93c38;
	display: inline-block;
	line-height: 36px;
	font-size: 18px;
	text-align: center;
	width: 36px;
	height: 36px;
}

footer .social li a:hover { 
	text-decoration: none;
	color: #e54a45;
}

/* Medium devices (desktops, 992px and up) */
@media (max-width:992px) { 

	.navbar-header {
		padding-left: 15px;
	}

	.navbar-right {
		padding-right: 15px;
	}

	.navbar-default .navbar-nav>li>a {
		margin-left: 25px;
	}

	.main-content {
		background-image: url(../img/responsive-bg.jpg);
		width: 100%;
		height: 100%;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		background-size: cover;
		display: block;
		background-position: top center;
	}

	.map img {
		margin-top: 60px;
		width: 100%;
		height: 100%;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		display: block;
		margin-bottom: 30px;
	}

	.first-section h2 {
		margin-top: 100px;
		color:#000000;
		margin-right: 0;
		margin-left: 0;
		text-align: center;
		width: 100%;
	}

	.first-section h4 {
		margin-top: 100px;
		margin-right: 0;
		margin-left: 0;
		text-align: center;
	}

	.second-icon {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		display: block;
	}

	.go-pro-btn {
		margin-top: 100px;
	}

	.first-discription h6 {
		margin-top: 100px;
	}

	.first-discription p {
		text-align: center;
		display: block;
	}

	.big-icon img {
		margin-top: 80px;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.second-discription h6 {
		margin-top: 100px;
		text-align: center;
	}

	.second-discription p {
		text-align: center;
		display: block;
	}

	.small-icons ul li {
		margin: 15px 15px 0 15px;
		display: inline-block;
	}

	.contact-form h1 {
		color: #fff;
	}

	.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea, .elegant-aero select {
		width: 100%;
	}

	.contact-form textarea {
		min-width: 100%;
	    min-height: 180px;
	    max-width: 100%;
	    max-height: 180px;
	}

	.contact-form .button {
		background-color: #b93c38;
		margin-bottom: 30px;
	}

	.map img {
		width: 80%;
	}

	footer .social li a {
		background-color: #e54a45;
	}

	footer .social li a:hover {
		color: #b93c38;
	}

	footer {
		background-color:#293E6A;/* #b93c38;*/
	}
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
	border-color: transparent;
	background: #293E6A;/* #0ca3d2;*/
	padding-bottom: 25px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width:768) {
	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form {
		padding-top: 20px;
	}

	.map {
		overflow: hidden;
	}

	.map img {
		width: 100%;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		display: block;
	}
 }